*.mov filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
Tutorials/ecoEdChamps18/1-Presentation1_TERN/*.mov filter=lfs diff=lfs merge=lfs -text
Tutorials/ecoEdChamps18/1-Presentation1_TERN/*.pptx filter=lfs diff=lfs merge=lfs -text
